<div class="container">

    <div class="tuition-container">

        <div class="sub-heading">Maths Tuition</div>

        <div class="box-container">
            <div class="box">
                <div class="tuition-header">
                    <span (click)="showText($event)" id="gcse">GCSE</span>
                </div>
                <div class="tuition-text">
                    We offer online individual tuition for years 9 to 11.

                    <ul>
                        <li>
                            Intensive preparation for GCSE exams (both mocks and external summer exams) is a key element
                            of our service
                        </li>
                        <li>
                            We accommodate all levels, from Foundation to those taking Higher GCSE, plus additional
                            maths exams
                        </li>
                        <li>
                            Comprehensive revision notes are sent out in year 10 and we tutor across all examination
                            boards: EDEXCEL, AQA, etc
                        </li>

                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="tuition-header">
                    <span (click)="showText($event)" id="gcseRetake">GCSE Retake</span>
                </div>
                <div class="tuition-text">
                    Crash course available for November re-take exams to gain that elusive level 4.
                </div>
            </div>

            <div class="box">
                <div class="tuition-header">
                    <span (click)="showText($event)" id="alevel">A-Level</span>
                </div>
                <div class="tuition-text">
                    Online individual tuition is available for those students taking AS and A2 exams. All examination
                    boards are catered for: EDEXCEL, AQA and OCR.
                </div>
            </div>

            <div class="box">
                <div class="tuition-header">
                    <span (click)="showText($event)" id="beyond">And Beyond</span>
                </div>
                <div class="tuition-text">
                    We have also been providing tuition for post-18 education requirements. For example:
                    <ul>
                        <li>Entry examinations for teacher training Apprentice engineering courses</li>
                        <li>Nursing education requirements</li>
                        <li>On line aptitude tests for career development opportunities</li>
                    </ul>

                </div>
            </div>

        </div>

    </div>

</div>

<!-- *ngIf="gcse" -->
<!-- *ngIf="gcseRetake" -->
<!-- *ngIf="alevel -->
<!-- *ngIf="beyond" -->