:host {
    --home-text-font: 24px;
}

@media screen and (max-width: 700px) and (min-width: 500px) {
     :host {
        --home-text-font: 20px;
    }
}

@media screen and (max-width: 500px) {
     :host {
        --home-text-font: 18px;
    }
}

.tuition-container{
    color:white;
}

.tuition-header {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 28px;
}

.tuition-header>span {
    text-decoration: none;
    border-bottom: transparent 2px solid;
    transition: 1000ms;
}

.tuition-header>span:hover {
    border-bottom: white 2px solid;
    /* cursor: pointer; */
}

.tuition-header:hover {
    cursor: pointer;
}

.tuition-text {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: inherit;
    font-size: var(--home-text-font);
}
