<div class="contact-container">
    <div class="left">
        <div class="sub-heading">Telephone Number</div>
        <div class="contact-text"> 01454 250713</div>

        <div class="sub-heading email" (click)="showEmail()">Email</div>
        <div class="contact-text">phylsully@blueyonder.co.uk</div>

        <div class="form">
            <input type="text" id="name" placeholder="name">
            <input type="text" id="message" size="50" placeholder="message">
            <button class="green-button reset" (click)="reset()">Reset</button>
            <button class="green-button send" (click)="send()">Send</button>
        </div>
    </div>

</div>

<div class="google-map">
    <a onclick="window.open('https://goo.gl/maps/HbKsCWkthoAvBCkW8');">
        <img class="map" title="Emmaus Church Center" alt="" src="assets/images/Frampton2.jpg" border="0">
    </a>
</div>
