:host {
    --column-width: 45px;
    --contact-container-grid-columns: auto;
    --map-width: 450px
}
@media screen and (max-width: 1300px) and (min-width: 1050px) {
    :host {
        --column-width: 40px;
       --map-width: 450px;
   }
}

@media screen and (max-width: 1050px) and (min-width: 700px) {
    :host {
        --column-width: 35px;
       --map-width: 450px;
   }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
     :host {
        --column-width: 30px;
        --map-width: 280px;
    }
}

@media screen and (max-width: 500px) {
     :host {
        --contact-container-grid-columns: auto;
        --column-width: 22px;
        --left-grid-row: 1;
        --left-grid-column: 1;
        --map-width: 300px;
        --map-height: 250px;
    }
}

.contact-container{
    display: grid;
    grid-template-columns: var(--contact-container-grid-columns);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    color:white;
}

.contact-text {
    font-size: 16px;
}

button {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

input#name,
input#message {
    font-family: inherit;
    font-size: 18px;
}

.form {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(10, var(--column-width));
    grid-template-rows: 40px 20px 40px 20px 40px;
}

input#name {
    grid-row: 1;
    grid-column: 1/11;
}

input#message {
    grid-row: 3;
    grid-column: 1/11;
}

.reset {
    grid-row: 5;
    grid-column: 1/5;
}

.send {
    grid-row: 5;
    grid-column: 7/11;
}

.left {
    grid-row: var(--left-grid-row);
    grid-column: var(--left-grid-column);
    display: grid;
    justify-content: center;
    align-items: center;
}

.email {
    padding-top: 20px;
}

.email:hover {
    cursor: pointer;
}

.google-map{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
} 

.google-map > a:hover {
    cursor: pointer;
}

 .map{
    width: 100%;
    height: auto;
    max-width: var(--map-width);
}
