<div class="menu-container">

  <div class="logo-container">
          <img src="assets/images/logo.png" (click)="openModalBig('Who am I', 'Hello, my name is Phyl Sully. I have been providing maths tuition for over 20 years, helping my student achieve excellent results.')">
  </div>

  <div class="link-container">
    <div class="menu-link home icon-home" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"></div>
    <div class="menu-link tuition" [routerLink]="['/tuition']" routerLinkActive="active-link">Tuition</div>
    <div class="menu-link testimonial" [routerLink]="['/testimonials']" routerLinkActive="active-link">Feedback</div>
    <div class="menu-link contact" [routerLink]="['/contact']" routerLinkActive="active-link">Contact</div>
  </div>

  <div class="info-bar">
    <div class="name">
      Phyl Sully Maths Tuition
    </div>
    <!-- <div class="icon-location2" (click)="openNewWindow('https://goo.gl/maps/HbKsCWkthoAvBCkW8')"></div> -->
    <div class="icon-facebook2" (click)="openNewWindow('https://www.facebook.com/P-Sully-Ltd-108725880501311')"></div>
    <div class="icon-phone" (click)="openModal('Get in touch', '01454 250713')"></div>
    <div class="icon-envelop" (click)="openModal('Get in touch', 'phylsully@blueyonder.co.uk')"></div>
    
  </div>

</div>


<div *ngIf="isModalOpen === true" class="modal">
  <div id="modal-message"><div>{{modalMessage}}</div></div>
  <div id="modal-value" [innerHTML]='modalValue'></div>
  <button class="btn-normal" (click)="closeModal()">Ok</button>
</div>

<div *ngIf="isModalBigOpen === true" class="modal-big">
  <div id="modal-big-message"><div>{{modalBigMessage}}</div></div>
  <div id="modal-big-value">{{modalBigValue}}</div>
  <button class="btn-normal" (click)="closeModalBig()">Ok</button>
</div>
