<app-menu-bar></app-menu-bar>

<div class="component-container">
    <div class="routed-component {{colredBackground ? 'colored-bg' : ''}}">
        <router-outlet></router-outlet>

        <!-- <div class="fb-container {{isfbHidden ? 'fb-hide': ''}}"
        style="width: 280px">
        <div class="contact-header">Facebook</div>
           <div class="fb-page" data-href="https://www.facebook.com/P-Sully-Ltd-108725880501311" data-tabs="timeline"
               data-width="280" 
               data-height="500" data-small-header="false" data-adapt-container-width="true"
               data-hide-cover="false" data-show-facepile="true">
               <blockquote cite="https://www.facebook.com/P-Sully-Ltd-108725880501311" class="fb-xfbml-parse-ignore">
                   <a onclick="window.open('https://www.facebook.com/P-Sully-Ltd-108725880501311');"
                       class="contact-header">Facebook Page</a></blockquote>
           </div>
       </div> -->
       
    </div>
</div>

<footer>Copyright &copy; 2020 - {{date | date : 'yyyy'}}, David Beales. All Rights Reserved.  </footer>