:host {
    --component-container-side-margin: minmax(150px, auto);
    --component-container-middle-col: minmax(700px, 1000px);
    --component-container-margin-top: 20px;
    --navbar-bg-color: rgb(238, 238, 238);
    --main-container-bg-color: rgba(238, 238, 238, 0.9);
}

@media screen and (max-width: 900px) and (min-width: 700px) {
     :host {
        --component-container-middle-col: minmax(600px, 800px);
        --component-container-side-margin: minmax(50px, auto);
    }
}

@media screen and (max-width: 700px) {
     :host {
        --component-container-middle-col: minmax(300px, 600px);
        --component-container-side-margin: minmax(30px, auto);
    }
}

app-menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

.component-container {
    margin-bottom: 20px;
    margin-top: calc(30px * 2 + 50px);
}

.routed-component {
    color: black;
}

.fb-hide{
    display: none;
}

.fb-container{
    color: white;
    margin-top: 20px;    
}

.fb-container  .contact-header{
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 28px;
}

.fb-container a{
    color:white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 500ms;
}

.fb-container a:hover{
    text-decoration: none;
    border-bottom: 2px white solid;
    cursor: pointer;
}

.fb-container a:active{
    text-decoration: none;
}

footer{
    font-size: 10px;
    text-align: center;
}