<app-menu-bar></app-menu-bar>

<div class="component-container">
    <div class="routed-component {{colredBackground ? 'colored-bg' : ''}}">
        <router-outlet></router-outlet>

        <div class="fb-container {{isSmallShown === true ? '': 'fb-hide'}}"
        style="width: 280px">
           <div class="fb-page" data-href="https://www.facebook.com/P-Sully-Ltd-108725880501311" data-tabs="timeline"
               data-width="280" 
               data-height="400" data-small-header="false" data-adapt-container-width="true"
               data-hide-cover="false" data-show-facepile="true">
               <blockquote cite="https://www.facebook.com/P-Sully-Ltd-108725880501311" class="fb-xfbml-parse-ignore">
                   <a onclick="window.open('https://www.facebook.com/P-Sully-Ltd-108725880501311');"
                       class="sub-heading">Facebook Page</a></blockquote>
           </div>
       </div>

       <div class="fb-container {{isMediumShown === true ? '': 'fb-hide'}}"
       style="width: 350px">
          <div class="fb-page" data-href="https://www.facebook.com/P-Sully-Ltd-108725880501311" data-tabs="timeline"
              data-width="350" 
              data-height="500" data-small-header="false" data-adapt-container-width="true"
              data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/P-Sully-Ltd-108725880501311" class="fb-xfbml-parse-ignore">
                  <a onclick="window.open('https://www.facebook.com/P-Sully-Ltd-108725880501311');"
                      class="sub-heading">Facebook Page</a></blockquote>
          </div>
      </div>

       <div class="fb-container {{isBigShown === true ? '': 'fb-hide'}}"
        style="width: 450px">
           <div class="fb-page" data-href="https://www.facebook.com/P-Sully-Ltd-108725880501311" data-tabs="timeline"
               data-width="450" 
               data-height="600" data-small-header="false" data-adapt-container-width="true"
               data-hide-cover="false" data-show-facepile="true">
               <blockquote cite="https://www.facebook.com/P-Sully-Ltd-108725880501311" class="fb-xfbml-parse-ignore">
                   <a onclick="window.open('https://www.facebook.com/P-Sully-Ltd-108725880501311');"
                       class="sub-heading">Facebook Page</a></blockquote>
           </div>
       </div>

    </div>
</div>