:host {
    --component-container-side-margin: minmax(150px, auto);
    --component-container-middle-col: minmax(700px, 1000px);
    --component-container-margin-top: 20px;
    --navbar-bg-color: rgb(238, 238, 238);
    --main-container-bg-color: rgba(238, 238, 238, 0.9);
    --yellow: rgba(255, 132, 0, 0.7);
    --blue: rgba(0, 14, 214, 0.7);
    --red: rgba(255, 0, 0, 0.7);
    --green: rgba(0, 131, 11, 0.7);
}

@media screen and (max-width: 900px) and (min-width: 700px) {
     :host {
        --component-container-middle-col: minmax(600px, 800px);
        --component-container-side-margin: minmax(50px, auto);
    }
}

@media screen and (max-width: 700px) {
     :host {
        --component-container-middle-col: minmax(300px, 600px);
        --component-container-side-margin: minmax(30px, auto);
    }
}

app-menu-bar {
    position: fixed;
    top: 0;
    width: 100vw;
}

.component-container {
    margin-top: calc(var(--logo-height) + var(--component-container-margin-top));
    display: grid;
    width: 100vw;
    grid-template-columns: var(--component-container-side-margin) var(--component-container-middle-col) var(--component-container-side-margin);
}

.routed-component {
    grid-column: 2;
    padding: 10px;
    color: black;
    border-radius: 10px 10px 10px 10px;
}

.colored-bg {
    background-color: var(--blue);
}