:host {
    --link-font-size: 30px;
    --link-font-family: 'Roboto';
    --link-padding: 10px 20px;
}

@media screen and (max-width: 900px) and (min-width: 700px) {
     :host {
        --link-font-size: 28px;
        --link-font-family: 'Roboto';
        --link-padding: 10px 16px;
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
     :host {
        --link-font-size: 22px;
        --link-font-family: 'Arial-Narrow';
        --link-padding: 10px 14px;
    }
}

@media screen and (max-width: 500px) and (min-width: 400px) {
     :host {
        --link-font-size: 18px;
        --link-font-family: 'Arial-Narrow';
        --link-padding: 10px 8px;
    }
}

@media screen and (max-width: 400px) {
     :host {
        --link-font-size: 18px;
        --link-font-family: 'Arial-Narrow';
        --link-padding: 10px 5px;
    }
}

.menu-container {
    height: var(--logo-height);
    display: grid;
    grid-template-columns: minmax(auto, 200px) auto;
    grid-template-rows: auto min-content auto;
    margin: 0px 0px 0px 10px;
}

.logo-container {
    grid-row: 1/4;
    grid-column: 1;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    height: var(--logo-height);
}

.link-container {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, min-content) auto;
    /* border: 1px solid grey; */
    border-radius: 30px 00px 00px 30px;
    background-color: var(--navbar-bg-color);
}

.menu-link {
    padding: var(--link-padding);
    color: black;
    font-family: var( --link-font-family);
    font-size: var(--link-font-size);
    text-align: center;
    transition: 1000ms;
}

.menu-link:hover {
    color: white;
    cursor: pointer;
}

.menu-link:nth-of-type(1):hover {
    background-color: var(--green);
}

.menu-link:nth-of-type(2):hover {
    background-color: var(--red);
}

.menu-link:nth-of-type(3):hover {
    background-color: var(--blue);
}

.menu-link:nth-of-type(4):hover {
    background-color: var(--yellow);
}

.home {
    grid-column: 1;
    border-radius: 30px 00px 00px 30px;
}

.tuition {
    grid-column: 2;
}

.testimonial {
    grid-column: 3;
}

.contact {
    grid-column: 4;
    margin-right: 13px;
}