:host {
    --home-text-font: 18px;
}

@media screen and (max-width: 700px) and (min-width: 500px) {
     :host {
        --home-text-font: 14px;
    }
}

@media screen and (max-width: 500px) {
     :host {
        --home-text-font: 12px;
    }
}

.container{
    display: grid;
    grid-template-columns: var(--component-container-side-margin) var(--component-container-middle-col) var(--component-container-side-margin);
}

.home-container {
    grid-column: 2;
    display: grid;
}

.text-box {
    display: grid;
    min-height: 110px;
    margin-top: 20px;
    grid-template-columns: 100px auto;
}

.text-box:nth-of-type(2)>.home-text {
    background-color: var(--green);
}

.text-box:nth-of-type(3)>.home-text {
    background-color: var(--red);
}

.text-box:nth-of-type(4)>.home-text {
    background-color: var(--blue);
}

.text-box:nth-of-type(5)>.home-text {
    background-color: var(--yellow);
}

.text-box:nth-of-type(2)>.number {
    border: var(--green) 2px solid;
    color: var(--green);
}

.text-box:nth-of-type(3)>.number {
    border: var(--red) 2px solid;
    color: var(--red);
}

.text-box:nth-of-type(4)>.number {
    border: var(--blue) 2px solid;
    color: var(--blue);
}

.text-box:nth-of-type(5)>.number {
    border: var(--yellow) 2px solid;
    color: var(--yellow);
}

.home-text {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: inherit;
    font-size: var(--home-text-font);
    grid-column: 2;
    color: white;
    /* text-shadow: 1px 1px black; */
}

.home-text-header {
    font-size: 22px;
    font-weight: bold;
}

.number {
    font-family: inherit;
    font-size: 40px;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
