<div class="sub-heading">What We Do</div>

<div class="home-container">

    <div class="text-box">
        <div class="number">
            <div>1</div>
        </div>
        <div class="home-text">
            <div class="home-text-header">Maths Tuition</div>
            <div class="home-text-content">Key Stage 3 through to A level</div>
        </div>
    </div>

    <div class="text-box">
        <div class="number">
            <div>2</div>
        </div>
        <div class="home-text">
            <div class="home-text-header">Inspire</div>
            <div class="home-text-content">We inspire confidence in our students, making Maths fun, and delivering postive outcomes</div>
        </div>
    </div>

    <div class="text-box">
        <div class="number">
            <div>3</div>
        </div>
        <div class="home-text">
            <div class="home-text-header">Track Record</div>
            <div class="home-text-content">We have an excellent track record preparing our students for exams</div>
        </div>
    </div>

    <div class="text-box">
        <div class="number">
            <div>4</div>
        </div>
        <div class="home-text">
            <div class="home-text-header">Working With Teachers</div>
            <div class="home-text-content">We complement school teaching and identify gaps that have appeared in their learning</div>
        </div>
    </div>

</div>
