<div class="sub-heading">Testimonials</div>


<div class="testimonials-container">

    <div class="testimonial-text">
        <div>
            {{'I am delighted to report I got a B Grade for Maths. A BIG THANK YOU! to you all'.length > }}
        </div>
    </div>

    <div class="testimonial-text">
        <div> Our daughter gained her result in the end of term tests for maths which she received a 7c, her target was a 5a.We were all very pleased!! Many thanks
        </div>
    </div>

    <div class="testimonial-text">
        <div> I just wanted to say thank you for your teaching & patience with our daughter. She did a lot of revision and extra lessons and it has paid off with a grade B @ A level.
        </div>
    </div>

    <div class="testimonial-text">
        <div> Thought I would let you know I got an overall B in my maths A level, I passed every paper with a B as well… even mechanics! Thank you so much for the past few years I couldn’t have done it without your help!
        </div>
    </div>

    <div class="testimonial-text">
        <div> Our son never moans about going to his lesson and seems to really enjoy it which is great. Please could he come every week, he has found the lessons useful already.
        </div>
    </div>

    <div class="testimonial-text">
        <div>I passed, I got the C grade I needed :) Thank you very much for all your help! Couldn’t have done it without the lessons I had from you!
        </div>
    </div>

    <div class="testimonial-text">
        <div>They (the twins) both got A grade GCSE thanks We are very pleased. Thank you for your help.
        </div>
    </div>

    <div class="testimonial-text">
        <div> I would like to thank you for your patience and excellent teaching skills – our daughter’s confidence and knowledge has come on leaps and bounds. She no longer dreads her maths exam so fingers crossed she achieves the deserved result.
        </div>
    </div>

</div>